#footer {
    position: absolute;
    margin-left: -8em;
    bottom: -27px;
    width: 121%;
    height: 128px;
    background: linear-gradient(rgba(224, 227, 239, 0.91), #eceeef),url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);
     
  }
  
  
  /* Custom footer CSS
  -------------------------------------------------- */
  
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  .container .text-muted {
    margin: 20px 0;
  }
  .footertext {
    color: #ffffff;
  }