<div class="login-container">
  <div class="login-title">
      Username
  </div>
  <div class="login-field">
    <input type="text" [(ngModel)]="userName">
  </div>
  <div class="login-title">
      Password
  </div>
  <div class="login-field">
    <input type="password" [(ngModel)]="passWord">
  </div>
  <div class="forgot-pass-title">
      Forgot Password
  </div>
  <div class="login-btn-div">
      <button class="login-btn" type="button" (click)="login()">Login</button>
  </div>
  <div class="cipherise-title">
      Login with Cipherise
  </div>
  <div class="new-user-title">
      Register as New User
  </div>
</div>