
  <div class="row">
    <div class="col-sm-4 round" style="
    margin-left: 82px;">
      <a class="button" href="#" style="text-align: center">Create</a>
    </div>
    <div class="col-sm-4 round">
    </div>
    <div class="col-sm-4 round">  
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4" style="
    margin-left: 106px;">
      <p style="color: black;size: 18px; border: 10px">Search</p>
    </div>
  </div>
  <div class="row" style="
  margin-left: 90px;">
    <div class="col-sm-4">
      <div class="login-title">
        Quote Number
      </div>
      <div class="login-field">
        <input type="text">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="login-title">
        Product ID
      </div>
      <div class="login-field">
        <input type="text" disabled>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="login-title">
        Distributor ID
      </div>
      <div class="login-field">
        <input type="text">
      </div>
    </div>
  </div>
  <div class="row" style="
  margin-left: 57px;
">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 round" style="
    margin-right: -149px;
">
        <a class="button" href="#"style="text-align: center">Reset</a>
    </div>
    <div class="col-sm-4 round" style="
    margin-right: -37px;
">  
        <a class="button" href="#" style="text-align: center" (click)="search()">Search</a>  
    </div>
  </div>
