.customback{
    margin-left: 31em;
}

table>thead>tr>th{
    background-color: black;
    padding: 24px !important;
    margin: 10px;
    width: 200px !important;

}
button.mat-sort-header-button{
    color: white !important;
}
table>tbody>tr>td{
    padding: 24px !important;
    margin: 10px;
    width: 200px !important;
}

.custompage{
    margin-left: 47em;
    margin-top: 12px;
}
.customtable{
    margin-left: 8em;
}
.dxc{
        background-color: #f3f4f6 !important;
        background-image: none !important;
}
.mat-paginator-page-size{
    margin-right: 262px !important;

}
.mat-paginator-container{
    background-color: #f3f4f6 !important;
        background-image: none !important;

}


.commonLabel{
    text-align: center;
    box-shadow: 1px 1px 1px 1px;
    width: 600px;
    height: 400px;
    left: 250px;
    position: absolute;
    font-size: 16px;
    color: black !important;
    font-family: 'source_sans_proregular';
    padding: 10px !important;
    font-weight: bold;
}

.commonText{
    
    height: 100%;
    position: absolute;
    z-index: 10;
    left: 400px;

}

.index{
    color: red;
}

.clientLabel{
    background-color: white;
    border-radius: 20px;
    margin-bottom: -60px;
    background-image: url("./images/browser.png");
    background-repeat: no-repeat, no-repeat;
    background-position-x: center;
    background-position-y: 40%;
    padding-bottom: 10%;
    
}
.givenNameText,.lastNameText{
    margin-top: -78px;
    top: 450px;
    left: 255px;
    margin-left: 5px
    
}
label.mat-form-field-label.mat-empty.mat-form-field-empty {
    color: red !important;
}
.lastNameText{
    left: 555px;
}

.dateLabel{
    background-color: white;
    border-radius: 20px;
    margin-bottom: -60px;
    background-image: url("./images/dayof.png");
    background-repeat: no-repeat, no-repeat;
    background-position-x: center;
    background-position-y: 40%;
    padding-bottom: 10%;
    margin-top: 37%!important;
}

.dateOfBirthText{
    top: 950px;
    margin-top: -139px;
}
.genderLabel{
    top: 1100px;
}

.genderMale{
    top: 1250px;
}

.genderFemale{
    top: 1250px;
    left: 555px;
    
}

.genderToggle{
    top: 1450px;
    margin-top: -14em;
}

.occupationLabel{
    top: 1600px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: -60px;
    background-image: url("./images/suitcase.png");
    background-repeat: no-repeat, no-repeat;
    background-position-x: center;
    background-position-y: 40%;
    padding-bottom: 10%;
    margin-top: -22%!important;
}

.autoText{
    top: 1950px;
    margin-top: -258px;
    margin-left: 14px;
    
    
}
.gender-box {
    margin-top: -185px!important;
    margin-bottom: 0px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: -62px;
    padding-bottom: 2%;
}





